<div class="d-flex flex-row align-items-center">
    <div class="col-2">
        <div class="bold mb-2"><u>Origin</u></div>
        <span class="">
            {{flight.origin}}
        </span>
    </div>
    <div class="col-2">
        <div class="bold mb-2"><u>Destination</u></div>
        <span class="">
            {{flight.destination}}
        </span>
    </div>
    <div class="col-2">
        <div class="bold mb-2"><u>#</u></div>
        <span style="font-weight:bold;">
            {{flight.flightNumber}}
        </span>
    </div>
    <div class="col-3">
        <div class="bold mb-2"><u>Status</u></div>
        <span class="bold">
            {{displayStatus(flight.status)}}
        </span>
    </div>
    <div class="col-3 d-flex justify-content-end">
        <button type="button" style="background-color: lightgreen;" [disabled]="isDisembarking"
            [hidden]="!isDisembarkButtonVisible" class="btn btn-sm mr-2" (click)="disembark()">Disembark
        </button>
        <button type="button" class="btn btn-primary btn-sm" [disabled]="isLanding" [hidden]="!isLandButtonVisible"
            (click)="land()">Land
        </button>
        <button type="button" class="btn btn-danger btn-sm" [disabled]="isDeleting" [hidden]="!isDeleteButtonVisible"
            (click)="delete()">Delete
        </button>
    </div>
</div>