<div class="d-flex flex-row align-items-center">
    <div class="col-2">
        <div class="bold mb-2"><u>Origin</u></div>
        <span class="">
            {{flight.origin}}
        </span>
    </div>
    <div class="col-2">
        <div class="bold mb-2"><u>Destination</u></div>
        <span class="">
            {{flight.destination}}
        </span>
    </div>
    <div class="col-2">
        <div class="bold mb-2"><u>#</u></div>
        <span style="font-weight:bold;">
            {{flight.flightNumber}}
        </span>
    </div>
    <div class="col-3">
        <div class="bold mb-2"><u>Status</u></div>
        <span class="bold">
            {{displayStatus(flight.status)}}
        </span>
    </div>
    <div class="col-3 d-flex justify-content-end">
            <button type="button" style="background-color: lightgreen;" class="btn btn-sm mr-2" (click)="changeFlightStatus()">Disembark</button>
            <button type="button" class="btn btn-primary btn-sm" disabled="true"
                (click)="changeFlightStatus()">Land</button>
    </div>
</div>