<hr />
<div class="d-flex flex-column">
    <div class="row">
        <div class="col-4 offset-1 d-flex flex-row">
            <div><u>Passengers</u></div>
        </div>
        <div class="col-7 d-flex flex-row">
            <button type="button" class="btn btn-primary btn-sm" (click)="createPassenger()">Add passenger to
                flight</button>
        </div>
    </div>
    <div *ngFor="let passenger of passengers">
        <hr />
        <app-passenger [passenger]="passenger"></app-passenger>
    </div>
</div>