<div class="d-flex">
    <div class="col-3">
        <h2>
            <span class="badge badge-primary">
                {{flight.origin}}
            </span>
        </h2>
    </div>
    <div class="col-3">
        <h2>
            <span class="badge badge-primary">
                {{flight.destination}}
            </span>
        </h2>
    </div>
    <div class="col-3">
        <h2>
            <span class="badge badge-secondary">
                {{flight.flightNumber}}
            </span>
        </h2>
    </div>
    <div class="col-3">
        <h2>
            <span class="badge badge-secondary">
                {{flight.status}}
            </span>
        </h2>
    </div>
</div>